<div class="row">
  <div class="col-xs-3">
    <div class="row">
    	<div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
             <div id='calendarNav'></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    	<div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h>Personas</h>
            <div class="checkbox">
              <label>
                <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Juan
              </label>
              <br>
              <label>
                <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Lady
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    	<div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h>Servicios</h>
            <div class="checkbox">
              <label>
                <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Peluqueo
              </label>
              <br>
              <label>
                <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Baño
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id='calendar'></div>
      </div>
    </div>
  </div>
</div>