<div class="row">
  <div class="app-column col-md-3 col-sm-4 col-xs-12">

    	<div class="col-xs-6 col-sm-12">
        <div class="panel panel-default" id="app-datepicker">
          <div class="panel-body">
             <div id='calendarNav'></div>
          </div>
        </div>
      </div>
    	<div class="col-xs-6 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="filters">
              <h4>Personas</h4>
              <div class="checkbox">
                <label>
                  <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Juan
                </label>
                <br>
                <label>
                  <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Lady
                </label>
              </div>
            </div>
            <hr>
            <div class="filters">
              <h4>Servicios</h4>
              <div class="checkbox">
                <label>
                   <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Peluqueo
                </label>
                <br>
                <label>
                  <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Baño
                </label>
              </div> 
            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="app-column col-md-9 col-sm-8 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id='calendar'></div>
      </div>
    </div>
  </div>
</div>