/*Calendario al 100%*/
.datepicker-inline,.datepicker-inline table{
	width: 100%;
}
/*DatePicker week styles http://stackoverflow.com/questions/30344470/select-week-date-range-and-month-using-bootstrap-datepicker*/
.datepicker table tr.week:hover{
    background: #eee;
}

.datepicker table tr.week-active,
.datepicker table tr.week-active td,
.datepicker table tr.week-active td:hover,
.datepicker table tr.week-active.week td,
.datepicker table tr.week-active.week td:hover,
.datepicker table tr.week-active.week,
.datepicker table tr.week-active:hover{
    background-image: -moz-linear-gradient(top, #eee, #eee);
    background-image: -ms-linear-gradient(top, #eee, #eee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#eee));
    background-image: -webkit-linear-gradient(top, #eee, #eee);
    background-image: -o-linear-gradient(top, #eee, #eee);
    background-image: linear-gradient(top, #eee, #eee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#eee', GradientType=0);
    
    border-radius: 2px;
    height: 16px;
    line-height: 16px;
    background-color: #FFF;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #009688;
    border: 1px solid #009688;
    border-left: 0;
    border-right: 0;
}
.datepicker table tr td.active, 
.datepicker table tr td.active:hover, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled:hover{
	background-image: -moz-linear-gradient(top, #eee, #eee);
    background-image: -ms-linear-gradient(top, #eee, #eee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#eee));
    background-image: -webkit-linear-gradient(top, #eee, #eee);
    background-image: -o-linear-gradient(top, #eee, #eee);
    background-image: linear-gradient(top, #eee, #eee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#eee', GradientType=0);
    
    border-radius: 2px;
    height: 16px;
    line-height: 16px;
    background-color: #FFF;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #009688;
    border: 1px solid #009688;
    border-left: 0;
    border-right: 0;
}